#body{
    background-color: goldenrod;
    color: rgb(173, 0, 0);
}
#copy_right_footer{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(15, 150, 15);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: #a1fc03;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(150, 150, 150);
}
.h1{
    font-family: 'Silkscreen', sans-serif;
}
.h2{
    font-family: 'Dhurjati', sans-serif;
}
#btn{
    font-size: large;
}
#result_noise, #result_accuracy{
    color: blue;
    font-family: 'Bebas Neue', sans-serif;
}